<h1>Resend confirmation instructions</h1>

<%= semantic_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :email %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: "Resend confirm instructions", wrapper_html: { class: "btn-default" }  %>
  <% end %>
<% end %>
