<h1>Sign in</h1>

<%= semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :remember_me, as: :boolean, label: "Remember me?" %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: "Sign in", wrapper_html: { class: "btn-primary" } %>
  <% end %>
<% end %>
