<!DOCTYPE html>
<html>
<head>
  <title>Tandem</title>
  <meta charset="utf-8"/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>
<%= render 'layouts/header' -%>
<%= render 'layouts/navigation' -%>

<%= content_tag :p, notice, class: 'alert alert-info'   unless notice.blank? %>
<%= content_tag :p, alert,  class: 'alert alert-danger' unless alert.blank?  %>

<%= render 'layouts/sidebar' -%>

<%= yield -%>

<%= render 'layouts/footer' -%>
</body>
</html>
